/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #111;
  padding: 0;

  h2,
  p {
    color: #fff;
  }

  p {
    opacity: .75;
    line-height: 1.35*$line-height;
  }

  h2,
  .btn {
    margin-bottom: 25px;
  }

  .social-nav {
    a {
      color: #fff;
      opacity: .25;

      &:hover {
        opacity: 1;
      }
    }
  }

  .bottom {
    background-color: #000;
    padding: 20px 0;

    .list-inline,
    p {
      margin: 0;
    }

    .list-inline {
      position: relative;
      top: 5px;

      a {
        color: #fff;
        font-family: $font-secondary;
        margin-right: 15px;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .credits {
    color: #ddd;

    a {
      color: $primary;
    }

  }

}
